<ng4-loading-spinner> </ng4-loading-spinner>

<header>
  <app-menu></app-menu>
</header>

<div class="main-div">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Authentification</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="input">
                <input matInput placeholder="Email" [formControl]="emailFormControl"
                       [errorStateMatcher]="matcher" [(ngModel)]="email" name="email" required>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('notGood')">
                  Email can be wrong.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="input">
              <input matInput placeholder="Password" [formControl]="passwordFormControl"
                     [errorStateMatcher]="matcher" [(ngModel)]="password" type="password" name="password" required>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('notGood')">
                Password can be wrong.
              </mat-error>
            </mat-form-field></td>
          </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">SignIn</button>
      <button mat-raised-button (click)="openCreationUserDialog()" color="primary">SignUp</button>
    </mat-card-actions>
  </mat-card>
</div>
