<h2 mat-dialog-title>Add project</h2>

<mat-dialog-content [formGroup]="form">
  <table cellspacing="20px">
    <tr>
      <td>
        <mat-form-field class="input">
          <input matInput placeholder="Project name"
                 [errorStateMatcher]="matcher" formControlName="projectName" name="projectName" required>
          <mat-error *ngIf="form.get('projectName').hasError('required')">
            Project name is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="form.get('projectName').hasError('alreadyUsed')">
            Project name is <strong>already</strong> used.
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="input">
          <mat-select placeholder="Choice your domain" [errorStateMatcher]="matcher" formControlName="typeProject" list="domains" name="typeProject" required>
            <mat-option *ngFor="let domain of domains" [value]="domain.value">
              {{domain.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('typeProject').hasError('required')">
            The type of the project is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="addProject()">Add project</button>
  <button class="mat-raised-button" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
