<!--The content below is only a placeholder and can be replaced.-->
<header>
  <app-menu></app-menu>
</header>
<div class="container-fluid">
  <!-- TITLE -->

  <div class="row" style="background-color: #6f74dd">
    <div class="col-lg-2 col-md-1 col-1"></div>
    <div class="col-lg-8 col-md-10 col-10">
      <div class="row">
        <div class="col-12">
          <div class="row display-3 white-text" style="height: 150px"><div class="text-center col-12 my-auto">GenRest Tutorial</div></div>
          <div class="row text-center">
            <p class="white-text mat-subheading-2">

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Domotic -->

  <div class="row" style="height: 300px">
    <div class="col-xl-2 col-lg-2 col-md-1 col-1"></div>
    <div class="col-xl-3 col-lg-4 col-md-5 d-none d-md-block my-auto">
      <img src="assets/img/domotique.jpg" width="250px">
    </div>
    <div class="col-xl-5 col-lg-4 col-md-5 col-sm-8 col-10 my-auto">
      <div class="row mat-headline">
        <h4><b>Tutorial to create a domotic project:</b></h4>
      </div>
      <div class="row mat-subheading-2">
        This tutorial will show you:
        <div class="container">
          <ul class="list-group list-group-flush" style="color: blue">
            <li  class="list-group-item"  ><a [routerLink] = "['/tuto']"  fragment="userAcount"> How to create a new user account</a></li>
            <li  class="list-group-item" ><a [routerLink] = "['/tuto']"  fragment="userProject">How to create a new project</a></li>
            <li  class="list-group-item" ><a [routerLink] = "['/tuto']"  fragment="treeView"> How to handle the tree-view</a></li>
            <li  class="list-group-item" ><a [routerLink] = "['/tuto']"  fragment="tabView">How to handle the tab-view</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Environment -->

  <div class="row" style="height: 300px;border: 1px solid">
    <div class="col-xl-2 col-lg-2 col-md-1 col-1" ></div>
    <div class="col-xl-5 col-lg-4 col-md-5 col-sm-8 col-10 my-auto">
      <div class="row mat-headline">
        <a id="userAcount">  How to create a new user account</a>
      </div>
      <div class="row mat-subheading-2">
        The first time you connect to the web, you have to create an user account, to do this please go to the top,
        and on the right side you have to click the  button named "SignIn", this action will make appear a pop-up named "Authentification".
        As you don't have an user account you have to click on the button named "SignUp", this action will make appear a pop-up named "SignUp"
        also, to make an account you have to fill out the form.
        Then you can click on "SignIn" to connect.
      </div>
    </div>
  </div>

  <div class="row" style="height: 300px;border: 1px solid">
    <div class="col-xl-2 col-lg-2 col-md-1 col-1" ></div>
    <div class="col-xl-5 col-lg-4 col-md-5 col-sm-8 col-10 my-auto">
      <div class="row mat-headline">
       <a id="userProject">How to create a new project</a>
      </div>
      <div class="row mat-subheading-2">
       To create a new project yo have to connect first; then a new page will appear, and the right you can add a new project by clicking on the button IMAGE HERE
        , the button IMAGE HERE help you to edit and to modify you project's informations, the button IMAGE HERE will delete your project.
        you can have many projects as you want.
        To create your domotic specifications you have to click on the project you create first, then a new  page will appear, this page contains on the right
        side a tree-view and on the left side a tab-view.

      </div>
    </div>
  </div>

  <div class="row" style="height: 300px;border: 1px solid">
    <div class="col-xl-2 col-lg-2 col-md-1 col-1" ></div>

    <div class="col-xl-5 col-lg-4 col-md-5 col-sm-8 col-10 my-auto">
      <div class="row mat-headline">
        <a id="treeView"></a> How to handle the tree-view
      </div>
      <div class="row mat-subheading-2">

      </div>
    </div>
  </div>

  <div class="row" style="height: 300px;border: 1px solid">
    <div class="col-xl-2 col-lg-2 col-md-1 col-1" ></div>

    <div class="col-xl-5 col-lg-4 col-md-5 col-sm-8 col-10 my-auto">
      <div class="row mat-headline">
       <a id="tabView"></a> How to handle the tab-view
      </div>
      <div class="row mat-subheading-2">

      </div>
    </div>
  </div>



  <!-- Get started -->


</div>
<footer class="my-auto text-center align-middle white-text" style="height: 50px; background-color: #00227a">
  AMU 2018-2019
</footer>

