
<mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedTabChange($event)" id="tab-group-project" animationDuration="0ms" class="h-100">
  <mat-tab label="Graphical visualization" class="h-100">
    <app-graph-spec [refreshGraph]="refreshGraph" [project]="project"></app-graph-spec>
  </mat-tab>
  <mat-tab label="Project specification">
    <app-project-spec [datas]="specEntity"></app-project-spec>
  </mat-tab>
  <mat-tab label="Json visualization">
    <app-json-projet [datas]="specEntity"></app-json-projet>
  </mat-tab>
</mat-tab-group>
