<h2 mat-dialog-title>Add sensor</h2>

<mat-dialog-content [formGroup]="form">
    <table>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput type="number" placeholder="Latitude of your sensor"
                   [errorStateMatcher]="matcher" formControlName="latitude" name="latitude" required>
            <mat-error *ngIf="form.get('latitude').hasError('required')">
              Latitude of your sensor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('latitude').hasError('maxlength')">
              Please, give a Latitude with 50 digits maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput type="number" placeholder="Longitude of your sensor"
                   [errorStateMatcher]="matcher" formControlName="longitude" name="longitude" required>
            <mat-error *ngIf="form.get('longitude').hasError('required')">
              Longitude of your sensor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('longitude').hasError('maxlength')">
              Please, give a Longitude with 50 digits maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput placeholder="Model of your sensor"
                   [errorStateMatcher]="matcher" formControlName="model" name="model" required>
            <mat-error *ngIf="form.get('model').hasError('required')">
              model of your sensor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('model').hasError('minlength')">
              Please, give a model with 2 letters minimum
            </mat-error>
            <mat-error *ngIf="form.get('model').hasError('maxlength')">
              Please, give a model with 50 letters maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput placeholder="Brand of your sensor"
                   [errorStateMatcher]="matcher" formControlName="brand" name="brand" required>
            <mat-error *ngIf="form.get('brand').hasError('required')">
              brand of your sensor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('brand').hasError('minlength')">
              Please, give a brand with 2 letters minimum
            </mat-error>
            <mat-error *ngIf="form.get('brand').hasError('maxlength')">
              Please, give a brand with 50 letters maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput type="number" placeholder="Reference of your sensor"
                   [errorStateMatcher]="matcher" formControlName="reference" name="reference" required>
            <mat-error *ngIf="form.get('reference').hasError('required')">
              reference of your sensor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('reference').hasError('minlength')">
              Please, give a reference with 2 letters minimum
            </mat-error>
            <mat-error *ngIf="form.get('reference').hasError('maxlength')">
              Please, give a reference with 50 letters maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput placeholder="State of your sensor"
                   [errorStateMatcher]="matcher" formControlName="state" name="state" required>
            <mat-error *ngIf="form.get('state').hasError('required')">
              state of your sensor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('state').hasError('minlength')">
              Please, give a state with 2 letters minimum
            </mat-error>
            <mat-error *ngIf="form.get('state').hasError('maxlength')">
              Please, give a state with 50 letters maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput placeholder="UnitData of your sensor"
                   [errorStateMatcher]="matcher" formControlName="unitData" name="unitData" required>
            <mat-error *ngIf="form.get('unitData').hasError('required')">
              unitData of your sensor is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('unitData').hasError('minlength')">
              Please, give a unitData with 2 letters minimum
            </mat-error>
            <mat-error *ngIf="form.get('unitData').hasError('maxlength')">
              Please, give a unitData with 50 letters maximum
            </mat-error>
          </mat-form-field>
        </td>
     </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="save()">Add</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
