<header>
  <app-menu-project></app-menu-project>
</header>

<div *ngIf="isLoaded" class="container-fluid" style="height: 95%">
  <div class="row h-100">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 h-100 pt-3 pb-5">
      <!-- mdb-card for Treeview-->
      <div id="tree-header" class="row mr-1 ml-1 mb-2">
        <div class="col-8 my-auto">
          <h4>Building topology</h4>
        </div>
        <div class="col-4 my-auto d-flex justify-content-end">
          <a  style="width: 150px" mdbBtn color="primary" mdbWavesEffect   (click)="openDeployDialog()">Deploy</a>
        </div>
      </div>
      <perfect-scrollbar id="scrollBar" style="max-height: 92%;">
        <app-tree-view-specifications (showEntity)="updateEntitySpec($event)"  (addedSpecification)="refreshProject($event)" (updated)="refreshProject($event)" [project]="project"></app-tree-view-specifications>
      </perfect-scrollbar>

    </div>
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 h-100 pt-3 pb-5">
      <mdb-card class="h-100" >
        <mdb-card-body class="h-100">
          <mdb-card-text class="h-100">
            <app-tab-spec [specEntity]="entitySpec" [project]="project"></app-tab-spec>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<footer class="my-auto text-center white-text" style="height: 4%; background-color: #00227a">
  AMU 2018-2019
</footer>
