<header>
 <app-menu-project></app-menu-project>
</header>
<div *ngIf="isLoaded">
  <br/>
  <div class="col-xl-2 col-lg-2 col-md-1 col-1" ></div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-auto" style="height: 400px">
        <!-- mdb-card for Treeview-->
        <mdb-card>
          <mdb-card-body>

            <mdb-card-title>
              <h4>Building topology</h4>
            </mdb-card-title>

            <mdb-card-text>
              <!-- TREEVIEW -->
              TODO

            </mdb-card-text>

          </mdb-card-body>
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Deploy</a>
        </mdb-card>
      </div>

      <br/>
      <div class="col-xl-6 col-lg-6 col-md-6  col-sm-12 col-12 my-auto" style="height: 400px">
        <app-tab-spec></app-tab-spec>

      </div>
    </div>

  </div>

</div>

<footer class="container-fluid my-auto text-center align-middle white-text" style="height: 50px; background-color: #00227a">
  AMU 2018-2019
</footer>
