<h2 mat-dialog-title>Add actuator</h2>

<mat-dialog-content [formGroup]="form">
    <table>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput placeholder="Define a custom name for your actuator"
                   [errorStateMatcher]="matcher" formControlName="name" name="name" required>
            <mat-error *ngIf="form.get('name').hasError('required')">
              name of your actuator is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('name').hasError('minlength')">
              Please, give a name with 2 letters minimum
            </mat-error>
            <mat-error *ngIf="form.get('name').hasError('maxlength')">
              Please, give a name with 200 letters maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput placeholder="Model of your actuator"
                   [errorStateMatcher]="matcher" formControlName="model" name="model" required>
            <mat-error *ngIf="form.get('model').hasError('required')">
              model of your actuator is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('model').hasError('minlength')">
              Please, give a model with 2 letters minimum
            </mat-error>
            <mat-error *ngIf="form.get('model').hasError('maxlength')">
              Please, give a model with 50 letters maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput type="latitude" placeholder="Latitude of your actuator"
                   [errorStateMatcher]="matcher" formControlName="latitude" name="latitude" required>
            <mat-error *ngIf="form.get('latitude').hasError('required')">
              Latitude of your actuator is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('latitude').hasError('maxlength')">
              Please, give a Latitude with 50 digits maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input">
            <input matInput type="number" placeholder="Longitude of your actuator"
                   [errorStateMatcher]="matcher" formControlName="longitude" name="longitude" required>
            <mat-error *ngIf="form.get('longitude').hasError('required')">
              Longitude of your actuator is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('longitude').hasError('maxlength')">
              Please, give a Longitude with 50 digits maximum
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
     </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="save()">Add</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
