/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, html {
  height: 100% !important;
}

div.card {
  height: 100% !important;
}

#graph-project ngx-charts-chart div {
  width: 100% !important;
  height: 100% !important;
}


#graph-project ngx-charts-chart div svg{
  width: 100% !important;
  height: 100% !important;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

#tab-group-project {
  height: 100% !important;
}

#tab-group-project mat-tab-body{
  flex-grow: 1;
}



