/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary-color: #3849aa;
$primary-color-light: #6e74dc;
$primary-color-dark: #00227a;

$secondary-color: #f44333;
$secondary-color-light: #ff795e;
$secondary-color-dark: #b90008;

$font-size-title: 50px;
$font-size-sub-title: 40px;
$font-size-normal: 20px;



