<h2 mat-dialog-title>Edit Corridor</h2>

<mat-dialog-content [formGroup]="form">
  <table>
    <tr>
      <td>
        <mat-form-field class="input">
          <input matInput  type="number" placeholder="Number of your corridor"
                 [errorStateMatcher]="matcher" formControlName="numberCorridor" name="numberCorridor" required>
          <mat-error *ngIf="form.get('numberCorridor').hasError('required')">
            Number of your corridor is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('numberCorridor').hasError('maxlength')">
            Please, give a corridor number with 50 number maximum
          </mat-error>
          <mat-error *ngIf="form.get('numberCorridor').hasError('incorrect')">
              Value already exists

          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="editCorridor()">Update</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
