<h2 mat-dialog-title>Edit Room</h2>

<mat-dialog-content [formGroup]="form">
  <table>
    <tr>
      <td>
        <mat-form-field class="input">
          <input matInput placeholder="Number of your Room"
                 [errorStateMatcher]="matcher" formControlName="numberRoom" name="numberRoom" required>
          <mat-error *ngIf="form.get('numberRoom').hasError('required')">
            Number of your Room is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('NumberRoom').hasError('maxlength')">
            Please, give a Room number with 50 number maximum
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="input">
          <input matInput placeholder="Type of your Room"
                 [errorStateMatcher]="matcher" formControlName="type" name="type" required>
          <mat-error *ngIf="form.get('type').hasError('required')">
            Type od your Room is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('type').hasError('minlength')">
            Please, give a type with 2 letters minimum
          </mat-error>
          <mat-error *ngIf="form.get('type').hasError('maxlength')">
            Please, give a type with 50 letters maximum
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="editRoom()">Update</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
