<mat-list-item >
  <h4 mat-line> Project name :  <a (click)="goToProject()"><u>{{project.projectName}}  </u></a> </h4>
  <h4 mat-line>Creation date : {{project.creationDate  | date :'dd-MMM-yy h:mm:ss a '}}</h4>
  <h4 mat-line> Domaine : {{project.domaine}}</h4>
  <h4 mat-line> Change Date :  {{project.changeDate  | date :'dd-MMM-yy h:mm:ss a '}}</h4>

  <button mat-icon-button (click)="edit()">
    <mat-icon>edit</mat-icon>
  </button>

  <button mat-icon-button (click)="delete()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <mat-divider style="border: 0.5px dotted" *ngIf="!isLast"></mat-divider>
</mat-list-item>

